extends ../views/post

block post-date
	|28 Giugno 2014 

block post-title
	|Per la mia Principessa

block post-content
	|Amore mio, questo è uno dei primi post che faccio sul mio sito. E lo dedico a te!
	br
	br
	|Tu che sai tutto di me. Tu che a volte mi conosci anche meglio di quanto non mi conosca io. 
	|Tu che sai come prendermi, sai confortarmi quando ne ho bisogno e cannellarmi quando me lo merito.
	|Tu che hai reso fantastici questi 7 anni e mezzo.
	br
	br
	|Sei la migliore compagna di viaggio che potessi e potrei mai desiderare. Ti amo! Tanto!
	br
	br
	|Questo post rimarrà qui, solamente noi ne conosceremo l'esistenza. Sarà solo nostro, e di nessun altro!
	br
	br
	img(class="img-responsive img-thumbnail center-block" alt="My Picture" src="/static/img/me-and-marta.png")