{{{
    "title"    : "Can you believe",
    "date"     : "11-09-2014"
}}}

| Questa canzone mi ha fatto pensare a noi, a come adesso siamo lontani e come ci ritroveremo tra qualche settimana. Ti amo!
br
br
div.text-center
	iframe(width="560" height="315" src="//www.youtube.com/embed/fnEKcKUa_Gk" frameborder="0" allowfullscreen)
	br
	br
	ul(class="list-unstyled")
		li
			| Don't you ever, get together 
		li
			| When you're far away 
		li
			| When you're far away? 
		li
			| The nights are long 
		li
			| Well it's nothing that you never seen 
		li
			| But it's hard to say 
		li
			| But it's hard to say 
	ul(class="list-unstyled")
		li
			| Don't listen to the words they say 
		li
			| They could take it or leave it anyway 
		li
			| Just let it go another day 
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
	ul(class="list-unstyled")
		li
			| Step down from the mountainside 
		li
			| Well I see that you're doing fine 
		li
			| When you're far away 
		li
			| When you're far away 
		li
			| Well you tell me that you're coming down 
		li
			| Well it's good to see that you're back around 
		li
			| But it's hard to say, I was far away 
	ul(class="list-unstyled")
		li
			| Don't listen to the words they say 
		li
			| They could never believe you anyway 
		li
			| Just let it go another day 
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
	ul(class="list-unstyled")
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
		li
			| I believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind 
		li
			| Can you believe that love is gonna last forever 
		li
			| And it's all within my mind, and it's all within my mind
