{{{
    "title"    : "Dal Clerici a Chicago (e ritorno)",
    "date"     : "10-12-2014"
}}}
div(class="col-md-4")
	div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
				div.carousel-inner
					div(class="item active")
						img(src="/static/img/01-capodanno.png")
					div(class="item")
						img(src="/static/img/02-berlino.png")
					div(class="item")
						img(src="/static/img/03-cacao-mandorla.png")
					div(class="item")
						img(src="/static/img/04-ti-amo.png")
					div(class="item")
						img(src="/static/img/05-before-laving.png")
					div(class="item")
						img(src="/static/img/06-in-partenza.png")
					div(class="item")
						img(src="/static/img/07-oh-chicago.png")
					div(class="item")
						img(src="/static/img/08-me-and-sammy.png")
					div(class="item")
						img(src="/static/img/09-me-breakfast.png")
					div(class="item")
						img(src="/static/img/10-marta-breakfast.png")
					div(class="item")
						img(src="/static/img/11-submarine.png")
					div(class="item")
						img(src="/static/img/12-metro.png")
					div(class="item")
						img(src="/static/img/14-breakfast-chicago.png")
					div(class="item")
						img(src="/static/img/15-kiss-chicago.png")
					div(class="item")
						img(src="/static/img/01-capodanno.png")
				a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
					span(class="glyphicon glyphicon-chevron-left")
				a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
					span(class="glyphicon glyphicon-chevron-right")
| Amore, eccomi a scrivere sul nostro blog segreto in questa domenica di Ottobre.
br
br
| Ti penso!
br
br
| E penso a noi, penso a come siamo cresciuti e stiamo crescendo assieme. 
| Penso a quella domenica di più di 7 anni fà, a quell'aperitivo al Clerici. 
| Penso alle prime volte che abbiamo parlato al telefono, ti ricordi? Eravamo quasi imbarazzati.
| Ma presto l'imbarazzo è passato, per lasciare al posto ad un sentimento che è cresciuto
| fino a quando, in riva al lago, ci siamo detti "Ti amo" per la prima volta.
| Se ci ripenso mi vengono i brividi.
br
br
| Penso a tutte le cose, belle e brutte, che abbiamo vissuto assieme. Penso ai nostri viaggi
| (quanti, eh?!) per tutta Europa. Penso a tutti i momenti magici che ci siamo regalati.
| Penso a quella sera di 2 anni fà, quando abbiamo fatto l'amore nel teatro che tu avevi
| affittato solamente per noi. Penso alla tua estate a Nairobi, a quanto siamo cresciuti sia
| singolarmente, che come coppia.
br
br
| Penso a due mesi fà, quando abbiamo preso l'aereo per venire a Chicago. Il viaggio più
| lungo che la rondine ed il colibrì abbiano mai fatto assieme. A tutte le cose nuove e diverse
| che abbiamo visto qui negli Stati Uniti. A tutte le cose che abbiamo imparato, anche su di
| noi: ho un poster scritto da te in camera a ricordarmele ogni volta che mi vesto.
br
br
| Si, amore, penso a noi. Penso a quanto sto bene con te, di fianco a te. Penso a quanto ti amo!
| Penso a quanto è bello camminare assieme, l'uno accanto all'altra. Con te il cammino veramente
| sembra più breve e le difficoltà meno insormontabili.
br
br
| E penso a quanto sarà bello riabbracciarti, baciarti, coccolarti, guardarti negli occhi al 
| mio ritorno!
div.text-right
	h4 Ti amo cucciola di rondine!
	h5 Il tuo cucciolo di colibrì.
