extends layout

block title
	title 
		| Riccardo Porrini - 
		block post-title
	
block page-content
	h3 
		block post-title
	div(class="highlight")
		block post-date
	br
	p.text-justify
		block post-content